<div class="row" id="login">
    <div class="col-md-4 col-md-offset-8 login-outer">
        <div class="panel panel-default login-inner">
            <div class="login-title">
                <h2>Log in</h2>
            </div>                    
            <div class="panel-body">
                <form accept-charset="UTF-8" ng-submit="submit()" role="form" name="login" novalidate>
                <fieldset>
                    <div class="form-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input class="form-control" placeholder="User Name" ng-model="username" name="username" autofocus type="text" required user-name-validate>
                        <div ng-messages="login.username.$error" ng-messages-include="messages.html"></div>
                    </div>
                    <div class="form-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input class="form-control" placeholder="Password" ng-model="password" name="password" type="password" required>
                        <div ng-messages="login.password.$error" ng-messages-include="messages.html"></div>
                    </div>                            
                    <input class="btn btn-lg btn-info btn-block" type="submit" value="Log in">
                    <div class="checkbox">
                        <label>
                            <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                        </label>
                        <a href="#" class="trouble" >Trouble?</a> 
                    </div>
                </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>