<div class="messages">
    <div ng-message="required">Required</div>
    <div ng-message="minlength">Too short</div>
    <div ng-message="maxlength">Too long</div>
    <div ng-message="email">Invalid email address</div>
    <div ng-message="userNameValidate">Invalid Username</div>
    <div ng-message="nameValidate">Invalid Name</div>
    <div ng-message="compareTo">Must match the previous entry</div>
    <div ng-message="phoneNumber">Invalid Phone Number</div>
</div>