<div id="register" class="row">
    <div class="col-md-4 col-md-offset-8 login-outer">
        <div class="panel panel-default login-inner">
            <div class="login-title">
                <h2>Sign Up</h2>
            </div>                    
            <div class="panel-body">
                <form accept-charset="UTF-8" ng-submit="submit()" role="form" name="register" novalidate>
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="First Name" ng-model="first_name" name="first_name" type="text" required autofocus name-validate>
                        <div ng-messages="register.first_name.$error" ng-messages-include="messages.html"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Last Name" name="last_name" type="text" ng-model="last_name" required name-validate>
                        <div ng-messages="register.last_name.$error" ng-messages-include="messages.html"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Username" name="username" type="text"  ng-model="username" required user-name-validate>
                        <div ng-messages="register.username.$error" ng-messages-include="messages.html"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" name="password1" type="password" ng-model="password1" required>
                        <div ng-messages="register.password1.$error" ng-messages-include="messages.html"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Confirm password" name="password2" type="password" ng-model="password2" required compare-to="password1">
                        <div ng-messages="register.password2.$error" ng-messages-include="messages.html"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Company" name="company" type="text" ng-model="company" required>
                        <div ng-messages="register.company.$error" ng-messages-include="messages.html"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email" name="email" type="email" ng-model="email" required>
                        <div ng-messages="register.email.$error" ng-messages-include="messages.html"></div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Phone Number" name="phone_num" type="tel" ng-model="phoneNum">                        
                    </div>                         
                    <input class="btn btn-lg btn-info btn-block" type="submit" value="Sign up">
                </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>